.themeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: #0c151d;

  &.light {
    background-color: #fff;
  }

  &:hover {
    background-color: #171f26;
    cursor: pointer;

    &.light {
      background-color: #e5e5e5;
    }
  }

  .themeImg {
    width: 20px;
    transition: all 0.4s ease-in-out;
    transform: rotate(0);

    &.light {
      transition: all 0.4s ease-in-out;
      transform: rotate(0.5turn);
    }
  }
}
